<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Morse Vision</title>
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
  <a href="https://github.com/Ayman047/Capstone" target="_blank" class="github-link">
  Source Code <span class="arrow">↗</span>
  </a>


  <!-- Background Star Wars-style video -->
  <video id="background-video" autoplay muted loop playsinline>
    <source src="{{ url_for('static', filename='background.mp4') }}" type="video/mp4">
    Your browser does not support the video tag.
  </video>

  <div class="overlay"></div>

  <!-- Main content centered -->
  <div class="container">
    <h1 class="title">MORSE VISION</h1>
    <div class="video-frame">
      <img src="{{ url_for('video_feed') }}" alt="OpenCV Video Feed" />
    </div>
  </div>

</body>
</html>
